{% if block.image|length %}
	<section class="content">
		<div class="row 100%">
			<div class="6u 12u(mobilep) vertical">
				{% if block.position == 'right' %}
                    <div>
                        {{ block.text }}
                    </div>
					{% if block.cta|length %}
						<div>
							<a href="{{ block.cta.getUrl() }}" class="button">{{ block.cta.getText() }}</a>
						</div>
					{% endif %}
				{% else %}
					<span class="image featured vertical"><img src="{{ block.image.one().getUrl() }}" alt="" /></span>
				{% endif %}
			</div>
			<div class="6u 12u(mobilep) vertical">
				{% if block.position == 'right' %}
                    <span class="image featured vertical"><img src="{{ block.image.one().getUrl() }}" alt="" /></span>
				{% else %}
                    <div>
                        {{ block.text }}
                    </div>
					{% if block.cta|length %}
						<div>
							<a href="{{ block.cta.getUrl() }}" class="button">{{ block.cta.getText() }}</a>
						</div>
					{% endif %}
				{% endif %}	
			</div>
		</div>
	</section>
{% endif %}