<div id="footer">
	<div class="container">
		<div class="row">
			<section class="3u 6u$(narrower) 12u$(mobilep)">
				<h3>VBT Machelen</h3>
				<ul class="links">
					<li><a href="{{ craft.entries.section('home').first().getUrl() }}">Home</a></li>
					<li><a href="{{ craft.entries.section('onzeClub').first().getUrl() }}">Onze club</a></li>
					<li><a href="{{ craft.entries.section('ploegen').first().getUrl() }}">Ploegen</a></li>
					<li><a href="{{ craft.entries.section('agenda').first().getUrl() }}">Agenda</a></li>
					<li><a href="{{ siteUrl }}agenda/vbtm">Clubactiviteiten</a></li>
				</ul>
			</section>
			<section class="3u 6u$(narrower) 12u$(mobilep)">
				<h3>&nbsp;</h3>
				<ul class="links">
					<li><a href="{{ craft.entries.section('jeugd').first().getUrl() }}">Jeugdwerking</a></li>
					<li><a href="{{ craft.entries.section('fotos').first().getUrl() }}">Foto's</a></li>
					<li><a href="{{ craft.entries.section('lidWorden').first().getUrl() }}">Lid worden</a></li>
					<li><a href="{{ craft.entries.section('sponsorsOverview').first().getUrl() }}">Sponsors</a></li>
					<li><a href="{{ craft.entries.section('contact').first().getUrl() }}">Contact</a></li>
				</ul>
			</section>
			<section class="3u 6u(narrower) 12u$(mobilep)">
				<h3>Meer over</h3>
				<ul class="links">
					<li><a href="{{ siteUrl }}in-geval-van-een-ongeval">In geval van ongeval</a></li>
					<li><a href="{{ siteUrl }}gedragscode">Gedragscode</a></li>
					<li><a href="{{ siteUrl }}privacy">Privacyverklaring</a></li>
				</ul>
			</section>
			<section class="3u 6u(narrower) 12u$(mobilep)">
				<h3>Meer volleybal</h3>
				<ul class="links">
					<li><a target="_blank" href="http://www.volleyscores.be">Volleyscores</a></li>
					<li><a target="_blank" href="http://www.volleyvlaams-brabant.be/">Volley Vlaams-Brabant</a></li>
					<li><a target="_blank" href="https://www.volleybalbrabant.com/">Volleybal Brabant</a></li>
					<li><a target="_blank" href="http://www.volleyvlaanderen.be/">Volley Vlaanderen</a></li>
				</ul>
			</section>
		</div>
	</div>

	<!-- Icons -->
	<ul class="icons">
		<li><a target="_blank" href="https://www.facebook.com/VBTMachelen/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a target="_blank" href="https://www.instagram.com/vbtmachelen/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
	</ul>

	<!-- Copyright -->
	<div class="copyright">
		<ul class="menu">
			<li>&copy; VBT Machelen. All rights reserved</li><li>Made by: <a target="_blank" href="http://carolineboeykens.be">carolineboeykens</a></li>
		</ul>
	</div>

</div>