{% extends "_layout" %}

{% block content %}
<section class="wrapper style1">
	<div class="container">
		<div id="content">

			<!-- Content -->

			<article>
				<header class="flex flex--left">
					<div><h2>Agenda</h2></div>
					<div><a class="button small alt" href="{{ craft.entries.section('agenda').one().getUrl() }}">Matchen</a></div>
					<div><a class="button small" href="{{ craft.entries.section('agendaIntern').one().getUrl() }}">Diversen</a></div>
				</header>

				<div class="mb-2">
					<a href="https://www.volleyscores.be/direct/VB-0431" target="_blank">Bekijk de volledige agenda op volleyscores.be</a>
				</div>

				<table class="table-small">
					<tr style="font-weight: bold; text-align: left">
						<th>Datum</th>
						<th>Uur</th>
						<th>Reeks</th>
						<th>Thuis</th>
						<th>Bezoekers</th>
						<th>Sporthal</th>
					</tr>

					{% set eventEntries = craft.entries({
				        section: 'wedstrijden',
				        datum: '>= ' ~ now|date_modify('-1 day')|date('U'),
				        order: 'datum, uur'
				    }) %}
				    
					{% paginate eventEntries.limit(75) as pageInfo, pageEntries %}
					{% for event in pageEntries %}
					<tr class="text-small">
						<td>{{ event.datum|date('d/m/Y') }}</td>
						<td>{{ event.uur|date('H:i') }}</td>
						<td>{{ event.reeks }}</td>
						<td>{{ event.thuis }}</td>
						<td>{{ event.bezoekers }}</td>
						<td>{{ event.locatie }}</td>
					</tr>
					{% endfor %}

				</table>

				{% include '_includes/_pagination' %}

			</article>

		</div>
	</div>
</section>

{% endblock %}