{% extends "_layout" %}

{% block content %}
    <section class="wrapper style1">
        <div class="container">
            <div id="content">

                {% set place = craft.request.getParam('place') %}
                {% set team = craft.request.getParam('team') %}

                <!-- Content -->

                <article>
                    <header class="flex flex--left">
                        <div><h2>Agenda</h2></div>
                    </header>

                    <div class="flex--left mb-2">
                        <div><a href="{{ craft.entries.section('agenda').one().getUrl() }}">Wedstrijden</a></div>
                        <div><a href="{{ craft.entries.section('agendaIntern').one().getUrl() }}">Clubactiviteiten</a></div>
                    </div>

                    <div>
                        <form action="" method="GET" class="flex--center filter bg--light">
                            <div class="vertical">
                                <label for="place">Locatie : </label>
                                <select name="place">
                                    <option value="-">- - -</option>
                                    <option {% if place == 'Machelen' %}selected{% endif %} value="Machelen">Thuis
                                    </option>
                                    <option {% if place == 'out' %}selected{% endif %} value="out">Uit</option>
                                </select>
                            </div>
                            <div class="vertical">
                                <label for="team">Ploeg : </label>
                                <select name="team">
                                    <option value="-">- - -</option>
                                    <option {% if team == '2de divisie heren B' %}selected{% endif %}
                                            value="2de divisie heren B">Heren A
                                    </option>
                                    <option {% if team == '2de Provinciale Mannen B' %}selected{% endif %}
                                            value="2de Provinciale Mannen B">Heren B
                                    </option>
                                    <option {% if team == '3de Provinciale Mannen A' %}selected{% endif %}
                                            value="3de Provinciale Mannen A">Heren C
                                    </option>
                                    <option {% if team == '2de Provinciale Vrouwen B' %}selected{% endif %}
                                            value="2de Provinciale Vrouwen B">Dames A
                                    </option>
                                    <option {% if team == '3de Provinciale Vrouwen D' %}selected{% endif %}
                                            value="3de Provinciale Vrouwen D">Dames B
                                    </option>
                                    <option {% if team == 'U15 Jongens 1e Provinciale' %}selected{% endif %}
                                            value="U15 Jongens 1e Provinciale">U15 Jongens A
                                    </option>
                                    <option {% if team == 'U15 Jongens 2e Provinciale B' %}selected{% endif %}
                                            value="U15 Jongens 2e Provinciale B">U15 Jongens B
                                    </option>
                                    <option {% if team == 'U13 Jongens 1e Provincale B' %}selected{% endif %}
                                            value="U13 Jongens 1e Provincale B">U13 Jongens A
                                    </option>
                                    <option {% if team == 'U13 Jongens 2e Provinciale C' %}selected{% endif %}
                                            value="U13 Jongens 2e Provinciale C">U13 Jongens B
                                    </option>
                                    <option {% if team == 'U11 Jongens 1e Provinciale B 2-2' %}selected{% endif %}
                                            value="U11 Jongens 1e Provinciale B 2-2">U11 Jongens A
                                    </option>
                                    <option {% if team == 'U11 Jongens 2e Provinciale C 2-2' %}selected{% endif %}
                                            value="U11 Jongens 2e Provinciale C 2-2">U11 Jongens B
                                    </option>
                                    <option {% if team == 'U11 Gemengd 3e Provinciale C 2-2' %}selected{% endif %}
                                            value="U11 Gemengd 3e Provinciale C 2-2">U11 Gemengd
                                    </option>
                                    <option {% if team == 'U19 Meisjes 2e Provinciale' %}selected{% endif %}
                                            value="U19 Meisjes 2e Provinciale">U19 Meisjes
                                    </option>
                                    <option {% if team == 'U17 Meisjes 2e Provinciale D' %}selected{% endif %}
                                            value="U17 Meisjes 2e Provinciale D">U17 Meisjes
                                    </option>
                                    <option {% if team == 'U15 Meisjes 2e Provinciale B' %}selected{% endif %}
                                            value="U15 Meisjes 2e Provinciale B">U15 Meisjes A
                                    </option>
                                    <option {% if team == 'U15 Meisjes 2e Provinciale C' %}selected{% endif %}
                                            value="U15 Meisjes 2e Provinciale C">U15 Meisjes B
                                    </option>
                                    <option {% if team == 'U13 Meisjes 1e Provinciale B' %}selected{% endif %}
                                            value="U13 Meisjes 1e Provinciale B">U13 Meisjes A
                                    </option>
                                    <option {% if team == 'U13 Meisjes 2e Provinciale A' %}selected{% endif %}
                                            value="U13 Meisjes 2e Provinciale A">U13 Meisjes B
                                    </option>
                                    <option {% if team == 'U13 Meisjes 2e Provinciale C' %}selected{% endif %}
                                            value="U13 Meisjes 2e Provinciale C">U13 Meisjes C
                                    </option>
                                    <option {% if team == 'U11 Meisjes 1e Provinciale B 2-2' %}selected{% endif %}
                                            value="U11 Meisjes 1e Provinciale B 2-2">U11 Meisjes A
                                    </option>
                                    <option {% if team == 'U11 Meisjes 2e Provinciale C 2-2' %}selected{% endif %}
                                            value="U11 Meisjes 2e Provinciale C 2-2">U11 Meisjes B
                                    </option>

                                </select>
                            </div>
                            <div class="vertical">
                                <input type="submit" class="button btn small" value="Zoek">
                            </div>
                        </form>
                        <hr>
                    </div>

                    <table class="table-small">
                        <tr style="font-weight: bold; text-align: left">
                            <th>Datum</th>
                            <th>Uur</th>
                            <th>Reeks</th>
                            <th>Thuis</th>
                            <th>Bezoekers</th>
                            <th>Sporthal</th>
                        </tr>

                        {% set eventEntries = craft.entries({
                            section: 'wedstrijden',
                            datum: '>= ' ~ now|date_modify('-1 day')|date('U'),
                            order: 'datum, uur'
                        }) %}

                        {% if place %}
                            {% if place != '-' %}
                                {% if place == 'Machelen' %}
                                    {% set locatie = 'locatie:*Machelen*' %}
                                {% else %}
                                    {% set locatie = '-locatie:Machelen' %}
                                {% endif %}
                                {% set eventEntries = craft.entries({
                                    section: 'wedstrijden',
                                    datum: '>= ' ~ now|date_modify('-1 day')|date('U'),
                                    order: 'datum, uur',
                                    search: locatie
                                }) %}
                            {% endif %}
                        {% endif %}

                        {% if team %}
                            {% if team != '-' %}
                                {% set eventEntries = craft.entries({
                                    section: 'wedstrijden',
                                    datum: '>= ' ~ now|date_modify('-1 day')|date('U'),
                                    order: 'datum, uur',
                                    reeks: team
                                }) %}
                            {% endif %}
                        {% endif %}

                        {% if place and team %}
                            {% if place != '-' and team != '-' %}
                                {% if place == 'Machelen' %}
                                    {% set locatie = 'locatie:*Machelen*' %}
                                {% else %}
                                    {% set locatie = '-locatie:Machelen' %}
                                {% endif %}
                                {% set eventEntries = craft.entries({
                                    section: 'wedstrijden',
                                    datum: '>= ' ~ now|date_modify('-1 day')|date('U'),
                                    order: 'datum, uur',
                                    search: locatie,
                                    reeks: team
                                }) %}
                            {% endif %}
                        {% endif %}

                        {% paginate eventEntries.limit(75) as pageInfo, pageEntries %}
                        {% for event in pageEntries %}
                            <tr class="text-small">
                                <td>{{ event.datum|date('d/m/Y') }}</td>
                                <td>{{ event.uur|date('H:i') }}</td>
                                <td>{{ event.reeks }}</td>
                                <td>{{ event.thuis }}</td>
                                <td>{{ event.bezoekers }}</td>
                                <td>{{ event.locatie }}</td>
                            </tr>
                        {% endfor %}

                    </table>

                    {% include '_includes/_pagination' %}

                    <div class="mb-2">
                        <a href="https://www.volleyscores.be/direct/VB-0431" target="_blank">Bekijk de volledige agenda op volleyscores.be</a>
                    </div>

                </article>



            </div>
        </div>
    </section>

{% endblock %}