{% extends "_layout" %}

{% block content %}
    <section class="wrapper style1">
        <div class="container">
            <div id="content">

                {% set place = craft.request.getParam('place') %}
                {% set teamQuery = craft.request.getParam('team') %}

                <!-- Content -->

                <article>
                    <header class="flex flex--left">
                        <div><h2>Agenda</h2></div>
                    </header>

                    {#<div class="flex--left mb-2">
                        <div><a href="{{ craft.entries.section('agenda').one().getUrl() }}">Wedstrijden</a></div>
                        <div><a href="{{ craft.entries.section('agendaIntern').one().getUrl() }}">Clubactiviteiten</a>
                        </div>
                    </div>#}

                    <div>
                        <form action="" method="GET" class="flex--center filter bg--light">
                            <div class="vertical">
                                <label for="place">Locatie : </label>
                                <select name="place">
                                    <option value="-">- - -</option>
                                    <option {% if place == 'Machelen' %}selected{% endif %} value="Machelen">Thuis
                                    </option>
                                    <option {% if place == 'out' %}selected{% endif %} value="out">Uit</option>
                                </select>
                            </div>
                            {% set teams = craft.entries.section('ploegen').all() %}
                            {% if teams|length %}
                                <div class="vertical">
                                    <label for="team">Ploeg : </label>
                                    <select name="team">
                                        <option value="-">- - -</option>
                                        {% for team in teams if team.reeks|length %}
                                            <option value="{{ team.reeks }}"
                                                    {% if teamQuery == team.reeks %}selected{% endif %}>{{ team.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %}
                            <div class="vertical">
                                <input type="submit" class="button btn small" value="Zoek">
                            </div>
                        </form>
                        <hr>
                    </div>

                    {% set eventEntries = craft.entries({
                        section: 'wedstrijden',
                        datum: '>= ' ~ now|date_modify('-1 day')|date('U'),
                        order: 'datum, uur'
                    }) %}

                    {% if place %}
                        {% if place != '-' %}
                            {% if place == 'Machelen' %}
                                {% set locatie = 'locatie:*Machelen*' %}
                            {% else %}
                                {% set locatie = '-locatie:Machelen' %}
                            {% endif %}
                            {% set eventEntries = craft.entries({
                                section: 'wedstrijden',
                                datum: '>= ' ~ now|date_modify('-1 day')|date('U'),
                                order: 'datum, uur',
                                search: locatie
                            }) %}
                        {% endif %}
                    {% endif %}

                    {% if teamQuery %}
                        {% if teamQuery != '-' %}
                            {% set eventEntries = craft.entries({
                                section: 'wedstrijden',
                                datum: '>= ' ~ now|date_modify('-1 day')|date('U'),
                                order: 'datum, uur',
                                reeks: teamQuery ~ '*'
                            }) %}
                        {% endif %}
                    {% endif %}

                    {% if place and teamQuery %}
                        {% if place != '-' and teamQuery != '-' %}
                            {% if place == 'Machelen' %}
                                {% set locatie = 'locatie:*Machelen*' %}
                            {% else %}
                                {% set locatie = '-locatie:Machelen' %}
                            {% endif %}
                            {% set eventEntries = craft.entries({
                                section: 'wedstrijden',
                                datum: '>= ' ~ now|date_modify('-1 day')|date('U'),
                                order: 'datum, uur',
                                search: locatie,
                                reeks: teamQuery ~ '*'
                            }) %}
                        {% endif %}
                    {% endif %}

                    {% if eventEntries|length %}
                        <table class="table-small">
                            <tbody>
                                <tr style="font-weight: bold; text-align: left">
                                    <th>Datum</th>
                                    <th>Uur</th>
                                    <th>Reeks</th>
                                    <th>Thuis</th>
                                    <th>Bezoekers</th>
                                    <th>Sporthal</th>
                                </tr>
                                {% paginate eventEntries.limit(75) as pageInfo, pageEntries %}
                                {% for event in pageEntries %}

                                    {% set reeks = craft.entries.section('ploegen').reeks(event.reeks).one() %}
                                    <tr class="text-small">
                                        <td>{{ event.datum|date('d/m/Y') }}</td>
                                        <td>{{ event.uur|date('H:i') }}</td>
                                        <td>{{ reeks ? reeks.title : event.reeks }}</td>
                                        <td>{{ event.thuis }}</td>
                                        <td>{{ event.bezoekers }}</td>
                                        <td>{{ event.locatie }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        {% include '_includes/_pagination' %}

                    {% else %}

                        <div class="text--center">
                            <p>Geen wedstrijden gevonden.</p>
                        </div>

                    {% endif %}


                    <div class="mb-2">
                        <a href="https://www.volleyscores.be/direct/VB-0431" target="_blank">Bekijk de volledige agenda
                            op volleyscores.be</a>
                    </div>

                </article>


            </div>
        </div>
    </section>

{% endblock %}