{% extends "_layout" %}

{% block content %}
<section class="wrapper style1">
	<div class="container">
		<div id="content">

			<!-- Content -->

			<article>
				<header class="flex flex--left">
					<div><h2>Agenda</h2></div>
					<div><a href="{{ craft.entries.section('agenda').one().getUrl() }}">Wedstrijden</a></div>
					<div><a href="{{ craft.entries.section('agendaIntern').one().getUrl() }}">Clubactiviteiten</a></div>
				</header>

				<div class="mb-2">
					<a href="https://www.facebook.com/pg/VBTMachelen/events/?ref=page_internal" target="_blank">Bekijk onze evenementen op Facebook</a>
				</div>

				{% set eventEntries = craft.entries({
				    section: 'events',
				    order: 'postDate'
				}) %}
				<div class="intern">

					<div class="flex">
						{% for event in eventEntries %}
						<div class="item">
							{% if event.affiche|length %}
								<a data-fancybox="gallery" href="{{ siteUrl }}{{ event.affiche.one().getUrl() }}">
									<img class="image" src="{{ siteUrl }}{{ event.affiche.one().getUrl() }}" alt="{{ event.affiche.one().title }}">
								</a>
							{% else %}
								<img class="image" src="images/ploegen/placeholder.png" alt="Image Coming Soon">
							{% endif %}
						</div>
						{% endfor %}
					</div>

				</div>

			</article>

            <article>
                {% set events = craft.jsonModule.getEvents %}
                {% set item = events['data'][0] %}
                {% if item.description is defined %}
                    <div class="row pad45">
                        <div class="col-lg-12">
                            <h5 class="label"><i class="fa fa-calendar"></i>{{item.name}}</h5>
                            {% set timezone = 'America/Chicago' %}
                            {% if item.event_times is defined %}
                                {% for event in item.event_times %}
                                    <h2 class="dark">{{event.start_time|date("m/d/Y g:i a", timezone)}} - {{event.end_time|date("g:i a", timezone)}}</h2>
                                {% endfor %}
                            {% else %}
                                <h2 class="dark">{{item.start_time|date("m/d/Y g:i a", timezone)}} - {{item.end_time|date("g:i a", timezone)}}</h2>
                            {% endif %}
                            <p class="home">{{item.description}}</p>
                            <div class="arrow-container" style="text-align: left;">
                                <a href="https://facebook.com/events/{{item.id}}" target="_blank" class="arrow-link">Learn More &rarr;</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% else %}
                    <h2 class="dark">No Upcoming Events</h2>
                {% endif %}
            </article>

		</div>
	</div>
</section>

{% endblock %}