{% extends "_layout" %}

{% block content %}
<section class="wrapper style1">
	<div class="container">
		<div id="content">

			<!-- Content -->

			<article>
				<header class="flex flex--left">
					<div><h2>Agenda</h2></div>
					<div><a href="{{ craft.entries.section('agenda').one().getUrl() }}">Wedstrijden</a></div>
					<div><a href="{{ craft.entries.section('agendaIntern').one().getUrl() }}">Clubactiviteiten</a></div>
				</header>

				<div class="mb-2">
					<a href="https://www.facebook.com/pg/VBTMachelen/events/?ref=page_internal" target="_blank">Bekijk onze evenementen op Facebook</a>
				</div>

				{% set eventEntries = craft.entries({
				    section: 'events',
				    order: 'postDate'
				}) %}
				<div class="intern">

					<div class="flex">
						{% for event in eventEntries %}
						<div class="item">
							{% if event.affiche|length %}
								<a data-fancybox="gallery" href="{{ siteUrl }}{{ event.affiche.one().getUrl() }}">
									<img class="image" src="{{ siteUrl }}{{ event.affiche.one().getUrl() }}" alt="{{ event.affiche.one().title }}">
								</a>
							{% else %}
								<img class="image" src="images/ploegen/placeholder.png" alt="Image Coming Soon">
							{% endif %}
							{#<div class="card-body">
								<h3>{{ event.title }}</h3>
								<p>{{ event.date }}</p>
								<div>{{ event.locatie }}</div>
								{% if event.facebookEvent|length %}
									<a href="{{ event.facebookEvent }}" target="_blank" class="button mt-2">Visit Facebookevent</a>
								{% endif %}
							</div>#}
						</div>
						{% endfor %}
					</div>

				</div>

				{#{% if entry.contentBuilder|length %}
					{% for block in entry.contentBuilder %}
						{% include '_includes/_blocks/_' ~ block.type.handle %}
					{% endfor %}
				{% endif %}#}

			</article>

		</div>
	</div>
</section>

{% endblock %}