{% extends '_layout' %}
{% block content %}

<section class="wrapper style1">
		<div class="container">
			<div id="content">
				<section class="ploegen">

					<h2>Ploegen</h2>

						{% for block in entry.teamBuilder.all() %}
						<div>
							<h3>{{ block.blockTitle }}</h3>
							<div class="flex">
							{% for team in block.ploeg %}
								<div class="ploeg">
									{% if team.image|length %}
										<a data-fancybox="gallery" href="{{ siteUrl }}{{ team.image.one().getUrl('ploegfoto') }}">
											<img class="image" src="{{ siteUrl }}{{ team.image.one().getUrl('ploegfoto') }}" alt="{{ team.image.one().title }}">
										</a>
										{% else %}
											<div class="image image-300" style="background-image: url('{{ siteUrl }}images/ploegen/placeholder.png')"></div>
										{% endif %}
										<h3>{{ team.ploegNaam }}</h3>
										<p><a href="https://www.volleyscores.be/direct/VB-0431/{{ team.reeks }}" target="_blank">Wedstrijden en rangschikking</a></p>
									</div>
								{% endfor %}
							</div>
						</div>
						{% endfor %}

				</section>
			</div>
		</div>
	</section>

	{% endblock %}